@using VOZ.GUI.Resources.Translations

@page "/"
@inherits StartBase

<div class="fw-bolder">
    <NavLink class="border border-dark btn btn-light btn-lg" href="questionnaire">
        @Localizer[VOZTranslations.Start]
    </NavLink>
</div>
