@using System.Globalization

@inherits WrongAnswerButtonBase

<div class="pb-2 w-100">
    <button
        class="border border-dark btn text-start w-100 @ButtonClass @ButtonDisabled"
        @onclick="() => SubmitAnswer()">
        @(char.ToUpper(TheAnswer.Text[0], CultureInfo.InvariantCulture) + TheAnswer.Text[1..])
    </button>
</div>
